#primary-button {
    background-color: #42b983;
    color: #fff;
    border-radius: 4px;
    max-width: 206px;
    text-transform: none;
    min-width: 128.31px;
    padding: 9px 18px;
    border: 1px solid #42b983;
    cursor: pointer;
}
