@media (max-width: 420px) {

    #palindrome {

        .form {
            display: block;

            .palindromeInput {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }
}